@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";
.content {
    margin-left: auto;
    margin-right: auto;
    max-width: 60vw;
    padding-top: 5vh;
    max-height: min-content;
}

h1 {
    font-weight: bold;
    font-size: x-large;
}

h2 {
    font-size: large;
}

.coupures {
    margin-top: 1vh;
    background-color: black;
}

.coupures>div:first-child>h2,
.coupures>div:nth-child(3)>h4,
.coupures>div:nth-child(3)>ul {
    color: white;
}

.orange:hover {
    background-color: orange;
}

.yellow:hover {
    background-color: yellow;
}

.org {
    background-color: violet;
}

.yell {
    background-color: skyblue;
}

.solution-block {
    min-height: 25vh;
    padding: 10px;
    animation: entrance 2s ease 0s 1 normal forwards;
}

.choice {
    width: 60vw;
}

.inpt {
    width: 50vw;
}

.frais {
    padding-top: 15px;
}

.example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
}

@keyframes entrance {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@media screen and (max-width: 768px) {
    .content {
        margin-left: auto;
        margin-right: auto;
        max-width: 80vw;
        margin-top: 10vh;
        transition: .25s ease-in-out;
    }
    .choice {
        width: 80vw;
        transition: .25s ease-in-out;
    }
}

@media screen and (max-width: 500px) {
    .content {
        margin-left: auto;
        margin-right: auto;
        max-width: 95vw;
        margin-top: 10vh;
        transition: .25s ease-in-out;
    }
    .choice {
        width: 95vw;
        transition: .25s ease-in-out;
    }
}